#Theory Question

**Q1. What are data structures, and why are they important?**

Ans1- A way of organizing and storing data so that it can be accessed and manipulated effeciently thats why they are very important.

**Q2. Explain the difference between mutable and immutable data types with examples?**

Ans2- Mutable Data Types:

Mutable data types are those whose values can be changed or altered after they have been created. When a mutable object is modified, the change occurs directly on the existing object in memory; a new object is not created.
Examples: Lists, dictionaries, sets in Python.
Example (Python List):

Immutable Data Types:

Immutable data types are those whose values cannot be changed after they have been created. Any operation that appears to modify an immutable object actually results in the creation of a new object with the desired changes, while the original object remains unchanged.
Examples: Numbers (integers, floats), strings, tuples, frozen sets in Python.
Example (Python String)

**Q3. What are the main differences between lists and tuples in Python**?

Ans3- List are mutable and tuples are immutable.

**Q4. Describe how dictionaries store data?**

Ans4- Dictionaries store the data in the form of key value pair.

**Q5. Why might you use a set instead of a list in Python?**

Ans5- Set shows only unique elements and in case of list which shows all the elements while its repeat at so much time.

**Q6. What is a string in Python, and how is it different from a list?**

Ans6- String is a sequence of character represent and manipulate textual data while list contains hetrogeneous data.

**Q7. How do tuples ensure data integrity in Python?**

Ans7- Tuples in Python  ensure data integrity primarily through their immutability. This means that once a tuple is created, its elements cannot be modified, added, or removed. This characteristic provides several benefits for maintaining data integrity.

**Q8. What is a hash table, and how does it relate to dictionaries in Python?**

Ans8- A hash table, also known as a hash map or associative array, is a data structure that stores key-value pairs. It uses a hash function to map keys to indices in an underlying array, allowing for efficient retrieval, insertion, and deletion of data.

**Q9. Can lists contain different data types in Python?**

Ans9- Yes, lists contains different data types in python.

**Q10. Explain why strings are immutable in Python?**

Ans10- Python strings are immutable, meaning their content cannot be changed after creation.

Safety and Consistency: Immutability ensures that a string's value remains constant throughout its lifetime.

**Q11. What advantages do dictionaries offer over lists for certain tasks?**

Ans 11- Dictionaries offer faster data retrieval and more readable code for tasks that involve looking up values by a specific identifier, while lists are better for ordered collections and simple sequences. The main advantages of dictionaries are their ability to quickly find a value using a unique key, which is more efficient than searching through a list, and their use of key-value pairs that can make code easier to understand and maintain.

**Q12. Describe a scenario where using a tuple would be preferable over a list?**

Ans12- A scenario where using a tuple would be preferable over a list is when representing a fixed, unchangeable collection of related data, especially when that data represents a single entity or record.

**Q13. How do sets handle duplicate values in Python?**

Ans13- Python sets are designed to store only unique elements, meaning they inherently do not allow duplicate values. When you attempt to add an element that already exists in a set, the set simply ignores the new addition, and the set remains unchanged.

**Q14. How does the “in” keyword work differently for lists and dictionaries?**

Ans14- The in keyword in Python functions differently for lists and dictionaries primarily in what it checks for and how efficiently it performs that check.

**Q15. Can you modify the elements of a tuple? Explain why or why not?**

Ans15- No, the elements of a tuple cannot be modified after the tuple has been created. This is because tuples are immutable data structures in Python.

**Q16. What is a nested dictionary, and give an example of its use case?**

Ans16- A nested dictionary is a dictionary where the values associated with one or more keys are themselves other dictionaries. This structure allows for the creation of hierarchical data, enabling the organization of complex information in a structured and accessible manner.

Example of Use Case: Managing Employee Data

Consider a scenario where you need to store information about multiple employees in an organization, including their personal details and their assigned projects. A nested dictionary can effectively represent this data.

**Q17. Describe the time complexity of accessing elements in a dictionary?**

Ans17- Accessing elements in a dictionary, such as retrieving a value by its key, generally has an average time complexity of O(1) (constant time).

**Q18.  In what situations are lists preferred over dictionaries?**

Ans18- Lists are preferred over dictionaries in several situations, primarily when the order of elements is significant or when elements are accessed by their numerical index.

**Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

Ans19- In many programming languages, dictionaries are considered unordered because they store data in an unpredictable order that is not based on insertion or any other sorting method. Dictionaries are structured for fast lookups using keys, not for preserving the sequence of elements.

**Q20. Explain the difference between a list and a dictionary in terms of data retrieval?**

Ans20- Lists and dictionaries are fundamental data structures, differing significantly in how data is stored and retrieved.

Lists:

Ordered Collection: Lists maintain the order of elements as they are added.
Indexed Access: Data retrieval relies on numerical indices, starting from 0. To access an element, its position within the list must be known.

Sequential Search (for values): Finding a specific value without knowing its index typically involves iterating through the list, which can be inefficient for large lists (linear time complexity, O(n)).

#Practical Questions

In [5]:
# Q1. Write a code to create a string with your name and print it?
(print("Naved Khan"))

Naved Khan

In [4]:
# Q2. Write a code to find the length of the string "Hello World"?
(print(len("Hello World")))

11

In [6]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming"?
string = "Python Programming"
print(string[0:3])

Pyt

In [11]:
# Q4. Write a code to convert the string "hello" to uppercase?
original_string = "hello"
uppercase_string = original_string.upper()
print(uppercase_string)

HELLO

In [12]:
# Q5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"?
original_string = "I like apple"
new_string = original_string.replace("apple", "orange")
print(new_string)

I like orange

In [13]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it?
lis = [1,2,3,4,5]
lis

[1, 2, 3, 4, 5]

In [14]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
lis = [1,2,3,4]
lis.append(10)
lis

[1, 2, 3, 4, 10]

In [15]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
lis = [1,2,3,4,5]
lis.remove(3)
lis

[1, 2, 4, 5]

In [16]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
lis = ['a', 'b', 'c', 'd']
lis[1]

'b'

In [17]:
# Q10.  Write a code to reverse the list [10, 20, 30, 40, 50]?
lis = [10, 20, 30, 40, 50]
lis[::-1]

[50, 40, 30, 20, 10]

In [18]:
# Q11.  Write a code to create a tuple with the elements 100, 200, 300 and print it?
original_tuple = (100, 200, 300)
print(original_tuple)

(100, 200, 300)

In [19]:
# Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
original_tuple = ('red', 'green', 'blue', 'yellow')
print(original_tuple[-2])

blue

In [20]:
# Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
original_tuple = (10, 20, 5, 15)
print(min(original_tuple))

5

In [21]:
# Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
original_tuple = ('dog', 'cat', 'rabbit')
print(original_tuple.index('cat'))

1

In [22]:
# Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
original_tuple = ('apple', 'banana', 'orange')
print("kiwi" in original_tuple)

False

In [23]:
# Q16,  Write a code to create a set with the elements 'a', 'b', 'c' and print it?
original_set = {'a', 'b', 'c'}
print(original_set)

{'c', 'a', 'b'}

In [24]:
# Q17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
original_set = {1, 2, 3, 4, 5}
original_set.clear()
print(original_set)

set()

In [25]:
# Q18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}?
original_set = {1, 2, 3, 4}
original_set.remove(4)
print(original_set)

{1, 2, 3}

In [27]:
# Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 | set2

{1, 2, 3, 4, 5}

In [28]:
# Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
set1 = {1,2,3}
set2 = {2,3,4}
set1 & set2

{2, 3}

In [29]:
# Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
d = {'name':'Naved', 'age': 27, 'city': 'Moradabad'}
d

{'name': 'Naved', 'age': 27, 'city': 'Moradabad'}

In [30]:
# Q22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
d = {"name": 'John', 'age': 25}
d1 = {"country": "USA"}
d.update(d1)
d

{'name': 'John', 'age': 25, 'country': 'USA'}

In [31]:
# Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
d = {'name': 'Alice', 'age': 30}
d['name']

'Alice'

In [32]:
# Q24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
d
#

{'name': 'Bob', 'city': 'New York'}

In [33]:
# Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)
#

True

In [34]:
# Q26. Write a code to create a list, a tuple, and a dictionary, and print them all?
lis = [1,2,3,4,5]
print(lis)
tup = (1,2,3,4,5)
print(tup)
d = {'name':'Naved', 'age': 27, 'city': 'Moradabad'}
d

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

{'name': 'Naved', 'age': 27, 'city': 'Moradabad'}

In [38]:
# Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result?
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

Object `result` not found.
[3, 5, 23, 42, 44]

In [39]:
# Q28. Write a code to create a list with strings and print the element at the third index?
lis = ['a','b','c','d','e']
lis[3]

'd'

In [44]:
# Q29.  Write a code to combine two dictionaries into one and print the result?
d = {'name':'Naved', 'age': 27, 'city': 'Moradabad'}
d1 = {'class':4, 'height': 28, 'country': 'India'}
d.update(d1)
d

{'name': 'Naved',
 'age': 27,
 'city': 'Moradabad',
 'class': 4,
 'height': 28,
 'country': 'India'}

In [45]:
# Q30. Write a code to convert a list of strings into a set?
lis = ['a','b','c','d','e']
set(lis)

{'a', 'b', 'c', 'd', 'e'}